---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Entrepreneurially-minded multidisciplinary leader with 20+ years building, launching, and scaling internet-based initiatives. Part-time triathlete and marathoner.">
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
    <title>CV for James Wrubel</title>
  </head>
  <body>
    <div class="ui stackable grid container">
      <div class="row">
        <div class="four wide column">
          {% include sidebar.html %}
        </div>
        <div class="twelve wide column">
          <div class="row">
            {% include about_me.html %}
          </div>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="teal building outline icon"></i>
        Work History
      </h4>
      {% for card in site.posts reversed %}
        <div class="row">
          <div class="ui one cards">
            {% include work.html %}
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
