<div class="ui basic segment">
  <img class="ui tiny right floated circular image" src="images/jwrubel_hs.jpg">
  <p>I'm an entrepreneurially-minded multidisciplinary leader with 20+ years building, launching, and scaling internet-based initiatives. I bring a strong technical perspective to business challenges (and vice versa), and I'm uniquely experienced in rallying Software Development, UX, Product Management, Data Science, DevOps, Customer Service, and Digital Marketing teams toward business objectives. I can interpret stacktraces and corporate income statements equally well, and as a leader I have a passion for creating environments that foster diversity, creativity, learning and growth.</p>
</div>
