<div class="row">
  <div class="ui two stackable cards">
    <div class="ui card">
      <div class="content">
        <img class="right floated mini ui circular image" src="images/cmu_logo.png">
        <div class="header">Carnegie Mellon University</div>
        <div class="ui sub header">MS, IT Management</div>
        <div class="meta">
          <span class="location">
            <i class="marker icon"></i>
            Pittsburgh PA, USA
          </span>
          <span class="right floated time">May, 2007</span>
        </div>
      </div>
      <div class="content">
        <div class="description">
          Coursework in entrepreneurism, software and SaaS pricing, software and service contracts, organizational risk management, and decision making under uncertainty.
        </div>
      </div>
    </div>
    <div class="ui card">
      <div class="content">
        <img class="right floated mini ui circular image" src="images/michigan_logo.png">
        <div class="header">The University of Michigan at Ann Arbor</div>
        <div class="ui sub header">BA, Industrial Psychology</div>
        <div class="meta">
          <span class="location">
            <i class="marker icon"></i>
            Ann Arbor MI, USA
          </span>
          <span class="right floated time">June 1995</span>
        </div>
      </div>
      <div class="content">
        <div class="description">
          Coursework in economics, marketing, ergonomics, organizational behavior, German, Eastern European culture, and leadership development.
        </div>
      </div>
    </div>
  </div>
</div>
