<div class="row">
  <div class="ui three stackable cards">
    <div class="ui card">
      <div class="content">
        <a class="header" href="http://www.computer.org/csdl/proceedings/hicss/2009/3450/00/10-05-01-abs.html">Replicating and Sharing Computer Security Laboratory Environments</a>
        <div class="meta">
          <div class="ui list">
            <div class="item">Kara Nance</div>
            <div class="item">Brian Hay</div>
            <div class="item">Ronald Dodge</div>
            <div class="item"><strong>James Wrubel</strong></div>
            <div class="item">Steve Burd</div>
            <div class="item">Alex Seazzu</div>
          </div>
        </div>
        <div class="description">
          <p>
            HICSS, 2009, 2014 47th Hawaii International Conference on System Sciences, 2014 47th Hawaii International Conference on System Sciences 2009, pp. 1-10, doi:10.1109/HICSS.2009.882
          </p>
        </div>
      </div>
    </div>
    <div class="ui card">
      <div class="content">
        <a class="header" href="http://resources.sei.cmu.edu/library/asset-view.cfm?assetID=9079">High Fidelity E-learning: The SEI's Virtual Training Environment</a>
        <div class="meta">
          <div class="ui list">
            <div class="item"><strong>James Wrubel</strong></div>
            <div class="item">David W. White</div>
            <div class="item">Julia Allen</div>
          </div>
        </div>
        <div class="description">
          <p>
            CMU/SEI-2009-TR-005. Software Engineering Institute, Carnegie Mellon University. 2009.
          </p>
        </div>
      </div>
    </div>
    <div class="ui card">
      <div class="content">
        <a class="header" href="http://www.pubzone.org/dblp/conf/csedu/CoisBWH10">VTE: The Virtual Training Environment - Advanced Virtual Lab Authoring and Delivery</a>
        <div class="meta">
          <div class="ui list">
            <div class="item">Constantine Aaron	Cois</div>
            <div class="item">Justin Beckwith</div>
            <div class="item"><strong>James Wrubel</strong></div>
            <div class="item">Jeremy Herrman</div>
          </div>
        </div>
        <div class="description">
          <p>
            CSEDU 2010 - Proceedings of the Second International Conference on Computer Supported Education, Valencia, Spain, April 7-10, 2010 - Volume 1 2010
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
