{% comment %}
  Twitter card reference at:
  https://dev.twitter.com/cards/types/summary
  Validate your card at:
  https://cards-dev.twitter.com/validator
{% endcomment %}

{% if site.social.twitter %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.social.twitter.text }}" />
  <meta name="twitter:title" content="{{ site.name }}" />
  <meta name="twitter:description" content="{{ site.headline }}" />
  {% if site.headshot && site.url %}
    <meta name="twitter:image" content="{{ site.headshot | prepend: "/images/" | prepend: site.url }}" />
    <meta name="twitter:image:alt" content="Photo of {{ site.name }}" />
  {% endif %}
{% endif %}

{% comment %}
  Google Social Profile support
  see: https://developers.google.com/structured-data/customize/social-profiles
  validate at:
  https://developers.google.com/structured-data/testing-tool/
{% endcomment %}

{% if site.social %}
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "{{ site.name }}",
    "url" : "{{ site.url }}",
    "sameAs" : [
      {% for channel in site.social %}
        {% if channel[1].href %}
          "{{ channel[1].href}}"
          {% unless forloop.last %}
            ,
          {% endunless %}
        {% endif %}
      {% endfor %}
    ]
  }
  </script>
{% endif %}
