<div class="ui raised segment">
  <a class="ui red right ribbon label" href="images/{{ site.pdf }}" target="_blank">
    <i class="file pdf outline icon"></i>
    Download PDF
  </a>
  <div class="ui list">
    {% assign entries = site.social | sort: 'order' %}
    {% for entry in entries %}
      <div class="item">
        <i class="{{ entry.icon }} icon"></i>
        {% if entry.href %}
          <a class="content" href="{{ entry.href }}" target="_blank">
            {{ entry.text }}
          </a>
        {% else %}
          <div class="content">
            {{ entry.text }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
